/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background-color: green;
}

ul {
  list-style-type: none;
  background-color: white;
}
a {
  text-decoration: none;

}

h1,
h2,
a {
  color: #56616a;
  text-align: center;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav a {
	text-align: center;
  display: block;
  padding: 10px 15px;
}

.footer-nav {
  display: none; /*-for mobile view-*/

}


/* ---- Layout Containers ---- */

.main-header{
  color: #56616a;
  background: #fafafa;
}

.main-header h1 {
  margin: 0;
  padding-top: 26px;
}

.banner {
	color: #7f7f7f;
	background: #fafafa;
  text-align: center;
}

.portfolio p {
  color: #4a4a4a;
}





/* ---- Page Elements ---- */





/* =================================
  Media Queries
==================================== */


/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
